[Unit]
Description=SubTracker app server

[Service]
User=www-data
ExecStart=/usr/local/bin/gunicorn -k flask_sockets.worker subtracker:app --bind=127.0.0.1:1231
WorkingDirectory=/home/rosuav/sub-tracker
# If faster shutdown is needed, switch to killing with SIGINT, as SIGTERM will wait for clients.
# KillSignal=SIGINT
Environment="OVERRIDE_REDIRECT_URI=https://gideon.rosuav.com/subtracker/login/authorized"
Environment="OVERRIDE_REDIRECT_HTTPS=1"

[Install]
WantedBy=multi-user.target
