<!DOCTYPE HTML>
<html>
<head>
<title>Sub Tracker</title>
<link rel="stylesheet" href="/static/main.css">
<script>
const subscribers = {{ subscribers | tojson }};
</script>
</head>
<body>
<header>
<h1>Sub Tracker</h1>
<p>Welcome, {{ username }}!</p>
</header>
<main>
<p>Text will go here. And stuff.</p>
<p>Filter subscribers: <input id=filter></p>
<table border id=subs><thead>
<tr><th>User name</th><th>Tenure</th><th>First subscribed</th></tr>
</thead><tbody></tbody></table>
<p><form method=post enctype="multipart/form-data" action="upload">
Upload CSV files: <input type=file name=csv multiple>
<input type=submit></form></p>
</main>
<script type=module src="static/subtracker.js"></script>
</body>
</html>
